{% extends 'base_materialize.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}

    <div class="container">
        <div class="section">
            <a class="waves-effect waves-light btn-small" id="myButton"><i class="material-icons left">cloud</i>button</a>
        </div>
        
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="select_type_search" autocomplete="off">
                            <option value="api" selected> Search by API </option>
                            <option value="ddbb"> Search by BBDD </option>
                        </select>
                        <label> Type search </label>
                    </div>
                    <div class="input-field col s6">
                        <select id="select_countries" autocomplete="off"></select>
                        <label> Search Country</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryName" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Name </label>
            </div>
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryAlpha2Code" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Alpha2Code </label>
            </div>
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryAlpha3Code" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Alpha3Code </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryCapital" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Capital </label>
            </div>
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryRegion" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Region </label>
            </div>
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countrySubregion" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Subregion </label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryPopulation" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Population </label>
            </div>
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryDemonym" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Demonym </label>
            </div>
            <div class="input-field col s4">
                <input disabled placeholder="Placeholder" id="countryArea" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Area </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <select id="countryTopLevelDomain" class="form_select" autocomplete="off"></select>
                <label> TopLevelDomain </label>
            </div>
            <div class="input-field col s4">
                <select id="countryAltSpellings" class="form_select" autocomplete="off"></select>
                <label> AltSpellings </label>
            </div>
            <div class="input-field col s4">
                <select id="countryBorders" class="form_select" autocomplete="off"></select>
                <label> Borders </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <select id="countryTimezones" class="form_select" autocomplete="off"></select>
                <label> Timezones </label>
            </div>
            <div class="input-field col s4">
                <select id="countryLatlng" class="form_select" autocomplete="off"></select>
                <label> Latlng </label>
            </div>
            <div class="input-field col s4">
                <select id="countryCallingCodes" class="form_select" autocomplete="off"></select>
                <label> CallingCodes </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <input disabled placeholder="Placeholder" id="countryGini" type="text" class="validate" autocomplete="off">
                <label for="disabled">Gini</label>
            </div>
            <div class="input-field col s3">
                <input disabled placeholder="Placeholder" id="countryNativeName" type="text" class="validate" autocomplete="off">
                <label for="disabled"> NativeName </label>
            </div>
            <div class="input-field col s3">
                <input disabled placeholder="Placeholder" id="countryNumericCode" type="text" class="validate" autocomplete="off">
                <label for="disabled"> NumericCode </label>
            </div>
            <div class="input-field col s3">
                <input disabled placeholder="Placeholder" id="countryCioc" type="text" class="validate" autocomplete="off">
                <label for="disabled"> Cioc </label>
            </div>
        </div>

    </div>

    <script type="text/javascript">

        const url_contry = `{{ url_contry }}`;
        const url_all_countries = `{{ url_all_countries }}`;
        const xhttp = new XMLHttpRequest();

        initialApiDates();

        $(document).ready( function() {

            $('select').formSelect();

            document.querySelector('#select_type_search').addEventListener('change', function() {
                $('#select_countries').empty();
                
                if ($( "#select_type_search" ).val() == 'ddbb') {
                    initialDBDates();
                } else {
                    initialApiDates();
                }
            });

            document.querySelector('#select_countries').addEventListener('change', function() {
                clearInputs();

                if ($( "#select_type_search" ).val() == 'ddbb') {
                    getCountryByDB();
                } else {
                    getCountryByApi();
                }
            });
        });

        function initialApiDates()
        {
            xhttp.open('GET', url_all_countries, true);

            xhttp.send();

            xhttp.onreadystatechange = function() {

                if (this.readyState == 4 && this.status == 200) {

                    $('#select_countries').append($('<option selected disabled>').text('Choose option').attr('value', ''));
                    
                    let dates = JSON.parse(this.responseText);

                    for (let date of dates) {
                        $('#select_countries').append($('<option>').text(date.name).attr('value', date.name));
                    }

                    $('#select_countries').formSelect();

                } 
            }  
        }

        function initialDBDates()
        {
            xhttp.open('GET', "{{ path('names_db_get') }}" , true);

            xhttp.send();

            xhttp.onreadystatechange = function() {

                if (this.readyState == 4 && this.status == 200) {

                    $('#select_countries').append($('<option selected disabled>').text('Choose option').attr('value', ''));
                    
                    let dates = JSON.parse(this.responseText);

                    for (let date of dates) {
                        $('#select_countries').append($('<option>').text(date.name).attr('value', date.id))
                    }

                    $('#select_countries').formSelect();
                }
            }
        }

        function getCountryByDB()
        {
            xhttp.open('GET', "{{ path('country_db_get', { 'id': '__id_country__'  }) }}".replace('__id_country__', $( "#select_countries" ).val()) , true);

            xhttp.send();

            xhttp.onreadystatechange = function() {

                if (this.readyState == 4 && this.status == 200) {
                    
                    let db_dates = JSON.parse(this.responseText);
                    fillData(db_dates);
                    
                }
            }
        }

        function getCountryByApi()
        {
            let url = url_contry.replace('__name_country__', $( "#select_countries" ).val());

            xhttp.open('GET', url, true);

            xhttp.send();

            xhttp.onreadystatechange = function() {
                
                if (this.readyState == 4 && this.status == 200) {
                    
                    let api_dates = JSON.parse(this.responseText);
                    fillData(api_dates);
                    
                }
            }
        }

        function fillData(response_dates)
        {
            for (let response_dat of response_dates) {
                $('#countryName').val(response_dat.name);
                $('#countryAlpha2Code').val(response_dat.alpha2Code);
                $('#countryAlpha3Code').val(response_dat.alpha3Code);
                $('#countryCapital').val(response_dat.capital);
                $('#countryRegion').val(response_dat.region);
                $('#countrySubregion').val(response_dat.subregion);
                $('#countryPopulation').val(response_dat.population);
                $('#countryDemonym').val(response_dat.demonym);
                $('#countryArea').val(response_dat.area);
                $('#countryGini').val(response_dat.gini);
                $('#countryNativeName').val(response_dat.nativeName);
                $('#countryNumericCode').val(response_dat.numericCode);
                $('#countryCioc').val(response_dat.cioc);
                
                for (let dat of response_dat.topLevelDomain) $('#countryTopLevelDomain').append($('<option>').text(dat).attr('value', dat));

                for (let dat of response_dat.callingCodes) $('#countryCallingCodes').append($('<option>').text(dat).attr('value', dat));

                for (let dat of response_dat.altSpellings) $('#countryAltSpellings').append($('<option>').text(dat).attr('value', dat));

                for (let dat of response_dat.latlng) $('#countryLatlng').append($('<option>').text(dat).attr('value', dat));

                for (let dat of response_dat.timezones) $('#countryTimezones').append($('<option>').text(dat).attr('value', dat));
                
                for (let dat of response_dat.borders) $('#countryBorders').append($('<option>').text(dat).attr('value', dat));
                
                $('.form_select').formSelect();
            }
        }

        function clearInputs()
        {
            $('#countryName').val('');
            $('#countryAlpha2Code').val('');
            $('#countryAlpha3Code').val('');
            $('#countryCapital').val('');
            $('#countryRegion').val('');
            $('#countrySubregion').val('');
            $('#countryPopulation').val('');
            $('#countryDemonym').val('');
            $('#countryArea').val('');
            $('#countryGini').val('');
            $('#countryNativeName').val('');
            $('#countryNumericCode').val('');
            $('#countryCioc').val('');
            
            $("#countryTopLevelDomain").empty();
            $("#countryCallingCodes").empty();
            $("#countryAltSpellings").empty();
            $("#countryLatlng").empty();
            $("#countryTimezones").empty();
            $("#countryBorders").empty();
            $("#countryTranslations").empty();

            $('.form_select').formSelect();
        }

        function createCountries()
        {
            xhttp.open('GET', "{{ path('create_countries') }}" , true);

            xhttp.send();

            xhttp.onreadystatechange = function() {

                if (this.readyState == 4 && this.status == 200) {
                    
                    let dates = JSON.parse(this.responseText);

                    if (dates.created) {
                        location.reload();
                    } else {
                        alert( dates.message );
                    }
                }
            }
        }

    </script>

{% endblock %}
