{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthdate</th>
                <th>Nie</th>
                <th>Address</th>
                <th>Postalcode</th>
                <th>Town</th>
                <th>City</th>
                <th>Province</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.birthdate ? client.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ client.nie }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.postalcode }}</td>
                <td>{{ client.town }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.province }}</td>
                <td>{{ client.country }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
